.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.list-group-item {
  background-color: #77b255;
}

h3 {
  text-align: center;
}

mat-expansion-panel-header {
  background-color: #00843b;
  border: 2px solid #e3b902;
}

mat-expansion-panel {
  background-color: white;
}
