<div class="container-fluid">
  <img id="logo" src="../../assets/jl.png">
   <a id="main" href="#SourceModal" type="link" data-toggle="modal" data-target="#SourceModal" data--dismiss="modal">Resources</a>
</div>

<div class="modal fade" id="SourceModal" tabindex="-1" role="dialog" aria-labelledby="SourceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Resources used:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              <span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">

            <ul>
              <li>Python tutorial materials: <a href="https://en.wikibooks.org/wiki/A_Beginner%27s_Python_Tutorial">Wikibooks</a></li>
              <li>Quiz questions: <a href="https://www.w3schools.com/python/python_quiz.asp">W3Schools</a></li>
              <li>Icons used:
                <ul>
                  <li> <!--lizard -->
                    <img src="https://image.flaticon.com/icons/svg/578/578447.svg" style="height:20px">
                    Icon made by Twitter from www.flaticon.com 
                  </li>
                  <li>  <!--apple -->
                    <img src="https://image.flaticon.com/icons/svg/579/579042.svg" style="height:20px">
                    Icon made by Twitter from www.flaticon.com 
                  </li>
                  <li>  <!--brain -->
                    <img src="https://image.flaticon.com/icons/svg/512/512566.svg" style="height:20px">
                    Icon made by Twitter from www.flaticon.com 
                  </li>
                  <li>  <!--trophy -->
                    <img src="https://image.flaticon.com/icons/svg/512/512514.svg" style="height:20px">
                    Icon made by Twitter from www.flaticon.com 
                  </li>
                  <li>  <!--login -->
                    <img src="https://image.flaticon.com/icons/svg/1329/1329941.svg" style="height:20px">
                    Icon made by Freepik from www.flaticon.com 
                  </li>
                  <li>  <!--logout -->
                    <img src="https://image.flaticon.com/icons/svg/1329/1329958.svg" style="height:20px">
                    Icon made by Freepik from www.flaticon.com 
                  </li>
                </ul>
              </li>
              <li>Avatar images:
                <ul>
                  <li>
                    <img src="https://community.kde.org/images.community/thumb/f/fb/Mascot_konqi-app-dev-katie.png/424px-Mascot_konqi-app-dev-katie.png" style="height:40px">
                    <a href="https://community.kde.org/File:Mascot_konqi-app-dev-katie.png">KDE Community Wiki
                    </a>
                  </li>
                  <li>
                      <img src="https://community.kde.org/images.community/thumb/2/28/Mascot_konqi-support-bughunt.png/482px-Mascot_konqi-support-bughunt.png" style="height:40px">
                      <a href="https://community.kde.org/File:Mascot_konqi-support-bughunt.png">KDE Community Wiki
                      </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>