#mynetwork{
   /* width: 99vw;*/
    height: 400px;
    fill: #0df200;
}
.row{
    margin-left: 10px;
    margin-right: 10px;
}
img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid #ddd; 
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.card{
  text-align: center;
  height: 100%
}
.btn-group{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 20%;
  display: block
}
#lbcanvas{
  height: 400px;
}