<div class="row container-fluid">
  <div class="col-md-6">
    <div class="container description padding-0">
      <h3> Very Simple Programs</h3>

      <p>Python makes it easy to run single lines of code—one-liner programs. Let's give it a go.</p>
    
      <p>Note that in Python 2 the parentheses are optional after print, but in Python 3.0 they are required. </p>
      
      <strong>Code Example 1</strong>
      <pre><code>{{"
      >>> print ('Hello, world!'')
      "}}</code></pre>
      
      <p>What happened? You just created a program, that prints the words 'Hello, world!'.</p>
      
        <p class="instruction">Try to insert a new cell into the notebook on the right and enter the example code! Then press run:
        It will immediately compile whatever you have typed in. This is useful for testing things, e.g., defining a few variables, and then testing to see if a certain line will work. 
        <br>
        <em> Don't type the >>> part</em>
        </p>

    </div>
  </div>

  <div class="col-md-6 padding-0">
      <iframe src="http://localhost:8888/notebooks/SimplePrograms.ipynb"></iframe>
    </div>
</div>