<div class="row container-fluid">
  <div class="col-md-6">
    <div class="container description padding-0">
      <h3> Very Simple Programs</h3>

      <p>Python makes it easy to run single lines of code-one-liner programs. Let's give it a go.</p>
      
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Start Here!
            </mat-panel-title>
          </mat-expansion-panel-header>

            <strong>Code Example 1</strong>
            <pre><code>{{"
            >>> print ('Hello, world!'')
            "}}</code></pre>
            
            <p>What happened? You just created a program, that prints the words 'Hello, world!'.</p>
            <p>Note that in Python 2 the parentheses are optional after print, but in Python 3.0 they are required. </p>
            
            <p class="instruction">Try to insert a new cell into the notebook on the right and enter the example code! Then press run:
            It will immediately compile whatever you have typed in. This is useful for testing things, e.g., defining a few variables, and then testing to see if a certain line will work. 
            <br>
            <em> Don't type the <code>>>></code> part!</em>
            </p>
    
            <p>You can find some basic calculations already added to the notebook. These are the basic commands of Python, and what they do.</p>
            <p> 
            Here is a table to clarify them:
            </p>
    
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Command</th>
                  <th scope="col">Name</th>
                  <th scope="col">Example</th>
                  <th scope="col">Output</th>
                </tr>
              </thead>
              <tbody>
                <td>+</td>
                <td>Addition</td>
                <td>4+5</td>
                <td>9</td>
              </tbody>
              <tbody>
                  <td>-</td>
                  <td>Subtraction</td>
                  <td>8-5</td>
                  <td>3</td>
              </tbody>
              <tbody>
                  <td>*</td>
                  <td>Multiplication</td>
                  <td>4*5</td>
                  <td>20</td>
              </tbody>
              <tbody>
                  <td>/</td>
                  <td>Division</td>
                  <td>19/3</td>
                  <td>6</td>
              </tbody>
              <tbody>
                  <td>%</td>
                  <td>Modulo (Remainder)</td>
                  <td>19%3</td>
                  <td>1</td>
              </tbody>
              <tbody>
                  <td>**</td>
                  <td>Exponent</td>
                  <td>2**4</td>
                  <td>16</td>
              </tbody>
            </table>
        </mat-expansion-panel>
      </mat-accordion>


      <div class="read-check">
        <input type="checkbox" class="read-check-input" id="simpleProgramsCheck" (click)="onChecked()">
        <label class="form-check-label" for="exampleCheck1"> Tutorial finished
            <span *ngIf="checked"> +30 pts</span>
        </label>
     </div>

    </div>
  </div>

  <div class="col-md-6 padding-0">
      <iframe src="http://localhost:8888/notebooks/SimplePrograms.ipynb"></iframe>
  </div>
</div>