<nav class="navbar  navbar-dark mb-5 padding-0" style="background-color: #004D40;">
  <!--
  <a class="navbar-brand" href="/">
    <img src="/assets/jl.png" width="80" alt="">
  </a>
  -->
  <div class="navbar-expand mr-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
              <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">
                <img src="/assets/liz.png" width="40" height="40" alt="">Home</a>
              </li>
        <li class="btn-group">
          <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"><img src="/assets/tutorial.png" width="40" height="40" alt="">Tutorials</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="simpleApps" routerLinkActive="active">Simple Programs</a>
            <a class="dropdown-item" routerLink="variables" routerLinkActive="active">Variables</a>
            <a class="dropdown-item" routerLink="loops" routerLinkActive="active">Loops</a>
            <a class="dropdown-item" routerLink="functions" routerLinkActive="active">Functions</a>
            <a class="dropdown-item" routerLink="tuples" routerLinkActive="active">Tuples, Lists, Dictionaries</a>
            <a class="dropdown-item" routerLink="forLoops" routerLinkActive="active">For Loop</a>
          </div>
        </li>
        <li class="nav-item">
        <a class="nav-item nav-link" href="#">
          <img src="/assets/brainteasers.png" width="40" height="40" alt="">Brain Teasers</a>
        </li>
      </ul>
  </div>
  <div *ngIf="showName; else login" class="navbar-expand ml-auto">
    <ul class="navbar-nav">
      <!-- Trigger modal -->

        <li class="nav-item">
          <a class="nav-item nav-link navAlign">
              Hello {{user.username}} ! 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link navAlign">
               pts {{user.score}}
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link log" (click)="logout()">
                <img src="/assets/log-out.png" width="40" height="40" alt="">Logout
            </a>
        </li>
    </ul>
  </div>
  <ng-template #login class="navbar-expand ml-auto">
    <ul class="navbar-nav">
      <!-- Trigger modal -->

        <li class="nav-item">
          <a class="nav-item nav-link log" type="button" data-toggle="modal" data-target="#LoginModal">
            <img src="/assets/log-in.png" width="40" height="40" alt="">Login
          </a>
        </li>
    </ul>
  </ng-template>

</nav>


  <!-- Modal 1 (Login)-->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log-in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #loginForm="ngForm">
            <label for="name"><strong>Username:</strong></label>
            <div class="input-group">
              <input id="name" type="text" class="form-control" name="name" placeholder="Username" required [(ngModel)]="username" #name="ngModel">
            </div>
            <label for="psw"><strong>Password:</strong></label>
            <div class="input-group">
              <input id="psw" type="password" class="form-control" name="psw" placeholder="Password" required [(ngModel)]="password" #psw="ngModel">
              {{password}}
            </div>
            <br>
            <p>Haven't registered yet? <a href="#RegisterModal" type="link" data-toggle="modal" data-target="#RegisterModal" data-dismiss="modal">Register</a></p>
          </form>
        </div>


        <div *ngIf="(name.invalid && (name.dirty || name.touched))"
        class="alert alert-danger">
    
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
    
         </div>
         <div *ngIf="(psw.invalid && (psw.dirty || psw.touched))"
        class="alert alert-danger">

          <div *ngIf="psw.errors.required">
            Password is required.
          </div>
    
         </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal" [disabled]="((psw.invalid || name.invalid) ? true : false)">Submit</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal 2 (Register)-->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #regForm="ngForm">
                <label for="nameReg"><strong>Enter a username:</strong></label>
                <div class="input-group">
                  <input id="nameReg" type="text" class="form-control" name="nameReg" required [(ngModel)]="rName" #nameReg="ngModel" placeholder="Username">
                </div>

                <div *ngIf="nameReg.invalid && (nameReg.dirty || nameReg.touched)" class="alert alert-danger">
                    <div *ngIf="nameReg.errors.required">Enter a username.</div>
                 </div>

                <label for="emailReg"><strong>Enter your email address:</strong></label>
                <div class="input-group">
                  <input id="emailReg" type="email" class="form-control" name="emailReg" required email [(ngModel)]="rEmail" #emailReg="ngModel" placeholder="Email">
                </div>

                <div *ngIf="emailReg.invalid && (emailReg.dirty || emailReg.touched)" class="alert alert-danger">
                    <div *ngIf="emailReg.errors.required">Enter your email.</div>
                    <div *ngIf="emailReg.dirty">
                      <div *ngIf="emailReg.errors.email">Enter a valid email.</div>
                    </div>
                </div>

                <label for="pswReg"><strong>Enter a password:</strong></label>
                <div class="input-group">
                  <input id="pswReg" type="password" class="form-control" name="pswReg" required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"  [(ngModel)]="rPsw" #pswReg="ngModel" placeholder="Password">
                </div>

                <div *ngIf="pswReg.invalid && (pswReg.dirty || pswReg.touched)" class="alert alert-danger">
                    <div *ngIf="pswReg.errors.minlength || pswReg.errors.required">Enter a password (min 8 chars).</div>
                    <div *ngIf="pswReg.errors.pattern">Your password must contain at least 
                      <ul>
                        <li>1 lower-case character,</li>
                        <li>1 upper-case character,</li>
                        <li>and 1 numeric character</li>
                      </ul></div>
                </div>
              {{rPsw}}
              <br>
            </form>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="onRegister()" data-dismiss="modal" [disabled]="((nameReg.invalid || emailReg.invalid || pswReg.invalid) ? true : false)">Submit</button>
            
          </div>
        </div>
      </div>
    </div>