
.navbar {
  width: 100%
}
.dropdown-toggle{
  align-self: center;
}

.navbar-brand{
  border-style: dashed;
  border-width: thick;
  border-bottom-color: black;
  background-color: #eeeeee;
}

.modal-header, .modal-footer{
  background-color: #004D40;
}

.modal-title{
  color: #e3b902;
}

.navAlign{
  padding-top: 15px;
}

.log{
  cursor: alias;
}

#progressLink{
  text-decoration: underline;
}
#progressLink:hover{
  cursor: pointer;
}
.avatar{
  width: 20%;
  border-radius: 50%;
  border: 1px solid rgb(112, 112, 112);
}
.nav-link:hover{
  cursor: pointer;
}
