.dashed {
    border-style: dashed;
    margin: 10px;
    padding: 5px;
}

.green {
    background-color: #00796B;
    border-style: outset;
    border-color: darkgrey;
    text-shadow: 2px 1px darkgrey;
    color: white;
    margin: 10px;
}

.yellowgreen {
    background-color: #DCE775;
    border-style: outset;
    border-color: darkgrey;
    margin: 10px;
}

.yellow {
    background-color: #B2DFDB;
    border-style: outset;
    border-color: darkgrey;
    margin: 10px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h4{
    padding-top: 60px;;
}


.main {
    /*margin-left: 45px;*/
    align-self: center;
    align-items: center;
    margin: 0px;
}
