.dashed {
    border-style: dashed;
    margin: 10px;
}

.green {
    background-color: #00796B;
    border-style: outset;
    border-color: darkgrey;
    text-shadow: 2px 1px darkgrey;
    color: white;
    margin: 10px;
}

.yellowgreen {
    background-color: #DCE775;
    border-style: outset;
    border-color: darkgrey;
    margin: 10px;
}

.yellow {
    background-color: hsl(73, 98%, 50%);
    border-style: outset;
    border-color: darkgrey;
    margin: 10px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.main {
    margin-left: 45px;
}

.secondRect{
    padding: 5px;
    /*background-image: url("../../assets/lizardDrawing.png");
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;*/
}