<div class="container-fluid main">

  <div class="row">
    <div class="col-md-7 green">
      <h4>
        Welcome to {{ title }}!
      </h4>
    </div>
    <div class="col-md-4 dashed" style="text-align:center">
      <img width="300" alt="JLearn Logo" src="assets/jl.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 dashed">
      <img width="300" alt="JLearn Logo" src="assets/jl.png">
    </div>
    <div class="col-md-7 yellowgreen">
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 yellow">
      
    </div>
    <div class="col-md-4 dashed">
      <img width="300" alt="JLearn Logo" src="assets/jl.png">
    </div>
  </div>

</div>